@font-face {
    font-family: "Mulish";
    src: url("./Fonts/Mulish-Bold.ttf") format("truetype");
} 

@font-face {
    font-family: "Mulish";
    src: url("./Fonts/Mulish-Medium.ttf") format("truetype");
} 

@font-face {
    font-family: "Mulish";
    src: url("./Fonts/Mulish-ExtraBold.ttf") format("truetype");
} 

@font-face {
    font-family: "Mulish";
    src: url("./Fonts/Mulish-Regular.ttf") format("truetype");
} 

@font-face {
    font-family: "Poppins";
    src: url("./Fonts/Poppins-ExtraBold.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("./Fonts/Poppins-Medium.ttf")
}


* {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-family: "Mulish";
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    width: 1120px;
    margin: 0 auto;
    top: 0;
    z-index: 100000000;
}

header nav p:hover {
    text-decoration: underline;
    
}


/* Фото логотипа */
header .img-logo {
    background-image: url("../assents/Course\ topics.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 124px;
    height: 38px;
}


header nav {
    display: flex;
    justify-content: space-between;
}

/* Кнопка в Header */
header .btn {
    background: linear-gradient(44.11deg, #8FBBE5 15.75%, #3D75BF 84.63%);
    border-radius: 33px;
    font: 700 16px 'Mulish';
    color: #FFFFFF;
    width: 147px;
    text-align: center;
    padding: 15px 0;
}

header nav p:not(:last-child) {
    margin-right: 35px;
}

body {
    margin: 0 auto;
    width: 1120px;
    background: #F5F5F5;
}

/* начало работы с Main */


/* Кнопка в Main */
main .btn {
    background: linear-gradient(44.11deg, #8FBBE5 15.75%, #3D75BF 84.63%);
    border-radius: 33px;
    font: 700 16px 'Mulish';
    color: #FFFFFF;
    width: 147px;
    text-align: center;
    padding: 15px 0;
    margin: 35px 0 0 0;

}



/* начало работы с introductory */
.introductory {
    display: flex;
    justify-content: space-between;
    margin-top: 250px;
}

.introductory h1 {
    font: 800 60px 'Mulish';
    font-family: 'Mulish';
    font-style: normal;
    width: 537px;
    height: 136px;

    color: #001A49; 
}


.introductory p {
    font: 400 20px 'Mulish';
    color: #4F596A; 

    width: 560px;
    height: 60px;
    margin-top: 25px;
}



/* Картинка-видео в Main */
.introductory .img-video {
    background-image: url("../assents/Group\ 7.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 7000px;
    height: 480px;
    position: relative;
    left: 120px;
}

.introductory .info{
    width: 1283px;
    height: 360px;
}

/* конец работы с introductory */

/* начало работы с statistics */



.statistics h2 {
    font: 800 40px 'Mulish';
    text-align: center;
    color: #001A49; 
}

.statistics p {
    font: 400 16px 'Mulish';
    text-align: center;
    color: #4F596A; 
}

.statistics .wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

    height: 172px;
 

    background: #FFFFFF;
    border: 1px solid #E7EAEB;
    border-radius: 21px;
}

.statistics .wrapper div {
    margin: auto;
}

.statistics .img-wrapper {
    position: absolute;
    background-image: url("./assents/Side\ Shape.svg");
    width: 288px;
    height: 288px;
    z-index: 0;
    margin: -136px 0 0 -206px;
}


/* конец работы с statistics */


/* начало работы с advantages */

.advantages {
    display: flex;
    flex-direction: column;
    margin-top: 194px;
}

/* начало работы с first-part-section */
.advantages .first-part-section{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.advantages .first-part-section h2 {
    display: flex;

    width: 637px;
    max-height: 69px;
    
    font: 800 46px 'Mulish';
    align-items: center;
    color: #001A49;
}

.advantages .first-part-section p {
    display: flex;
    width: 1120px;
    width: 560px;
    max-height: 60px;
    font: 400 20px 'Mulish';
    align-items: center;
    color: #4F596A; 
}

/* конец работы с first-part-section */



/* начало работы с two-part-section */

.advantages .two-part-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #EEF7FF;
    height: 172px;
    margin-top: 61px;
    border-radius: 21px;
}

.advantages .two-part-section h3 {
    font: 800 24px 'Mulish';

    color: #001A49; 
}

.advantages .two-part-section p {
    font: 400 16px 'Mulish';
    width: 960px;
    height: 48px;
    
    margin-top: 20px;
    color: #4F596A;
}

/* конец работы с two-part-section */



/* начало работы с three-part-section */

.advantages .three-part-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #EEF7FF;
    width: 1120px;
    height: 172px;
    margin-top: 31px;
    border-radius: 21px;
}

.advantages .three-part-section h3 {
    font: 800 24px 'Mulish';

    color: #001A49; 
}

.advantages .three-part-section p {
    font: 400 16px 'Mulish';
    width: 960px;
    height: 48px;
    
    margin-top: 20px;
    color: #4F596A;
}

/* конец работы с three-part-section */

/* начало работы с four-part-section */

.advantages .four-part-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #EEF7FF;
    width: 1120px;
    height: 172px;
    margin-top: 31px;
    border-radius: 21px;
}

.advantages .four-part-section h3 {
    font: 800 24px 'Mulish';

    color: #001A49; 
}

.advantages .four-part-section p {
    font: 400 16px 'Mulish';
    width: 960px;
    height: 48px;
    
    margin-top: 20px;
    color: #4F596A;
}

/* конец работы с four-part-section */

/* начало работы с five-part-section */

.advantages .five-part-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #EEF7FF;
    width: 1120px;
    height: 172px;
    margin-top: 31px;
    border-radius: 21px;
}

.advantages .five-part-section h3 {
    font: 800 24px 'Mulish';

    color: #001A49; 
}

.advantages .five-part-section p {
    font: 400 16px 'Mulish';
    width: 960px;
    height: 48px;
    
    margin-top: 20px;
    color: #4F596A;
}

/* конец работы с five-part-section */



/* Картинка преимуществ .advantages*/
.advantages .img-advantages {
    background-image: url("./assents/Group\ 8.svg");
    background-repeat: no-repeat;
    background-size: contain;

    width: 64px;
    height: 64px;
}

/* ЧАСТЬ 2 advantages */







/* Начало колонки CallBack */
.record {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 619px;
    height: 321px;
    margin: 122px auto;
}

.record .record-img {
    font: 800 100px 'Poppins';
    color: #3D75BF;
}

.record p {
    width: 619px;
    height: 150px;
    font: 800 50px 'Mulish';
    color: #001A49;
}
/* Конец колонки CallBack */





footer section {
    display: flex;
    justify-content: space-between;

    margin-top: 129px;
}

.img-logo-footer {
    background-image: url("./assents/Marico\ \(2\).svg");
    width: 243.34px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: contain;
}

section .left-footer {
    display: flex;
    flex-direction: column;  
}

section .left-footer .top-footer {
    display: flex;
    justify-content: space-between;
}

section .left-footer .top-footer p {
    width: 78.96px;
    height: 56px;
    margin-right: 7.77px; 

    font: 800 37px 'Poppins';
    font-family: 'Poppins';
    color: #3C82F4; 
}

section .left-footer div {
    width: 490.45px;
    height: 40px;

    font: 500 27px 'Mulish';
    color: #707070;
}

section .right-footer p {
    width: 233px;
    height: 32px;

    font: 500 28px 'Poppins';
    color: #707070;
}







@media screen and (max-width: 600px) {
    body {
        width: 600px;
    }

    header {
        width: 600px ;
        margin: 20px auto;
    }

    header nav {
        display: none;
    }

    .introductory .info {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .introductory .info .btn{
        margin: auto;
    }
   

    .introductory .img-video {  
        display: none;
        
    }

   .statistics .wrapper {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 450px;
    margin: auto;


   }

   .statistics .wrapper {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 450px;
   }

   .statistics .img-wrapper {
    margin: -167px 0 0 -2px;
   }

   .advantages .first-part-section h2 {
    display: flex;
    width: 600px;
    max-height: 69px;
    font: 800 46px 'Mulish';
    align-items: center;
    color: #001A49;
    }

    .advantages .first-part-section p {
        display: flex;
        width: 560px;
        max-height: 60px;
        font: 400 20px 'Mulish';
        align-items: center;
        color: #4F596A;
    }

    /* Начало работы с секцией 2 */
    .advantages .two-part-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #EEF7FF;
        width: 600px;
        height: 172px;
        margin-top: 61px;
        border-radius: 21px;
    }

    .advantages .img-advantages {
        display: none;
    }

    .advantages .two-part-section h3 {
        font: 800 24px 'Mulish';
        color: #001A49;

        margin: 0 0 30px 40px;
    }

    .advantages .two-part-section p {
        font: 400 16px 'Mulish';
        height: 48px;
        width: 600px;
        margin: 0 0 30px 40px;
        color: #4F596A;
    }
    /* Конец работы с секцией 2 */

    /* Начало работы с секцией 3 */
    .advantages .three-part-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #EEF7FF;
        width: 600px;
        height: 172px;
        margin-top: 61px;
        border-radius: 21px;
    }

    .advantages .img-advantages {
        display: none;
    }

    .advantages .three-part-section h3 {
        font: 800 24px 'Mulish';
        color: #001A49;

        margin: 0 0 30px 40px;
    }

    .advantages .three-part-section p {
        font: 400 16px 'Mulish';
        height: 48px;
        width: 550px;
        margin: 0 0 30px 40px;
        color: #4F596A;
    }
    /* Конец работы с секцией 3 */

    /* Начало работы с секцией 4 */
    .advantages .four-part-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #EEF7FF;
        width: 600px;
        height: 172px;
        margin-top: 61px;
        border-radius: 21px;
    }

    .advantages .img-advantages {
        display: none;
    }

    .advantages .four-part-section h3 {
        font: 800 24px 'Mulish';
        color: #001A49;

        margin: 0 0 30px 40px;
    }

    .advantages .four-part-section p {
        font: 400 16px 'Mulish';
        height: 48px;
        width: 600px;
        margin: 0 0 30px 40px;
        color: #4F596A;
    }
    /* Конец работы с секцией 4 */

    /* Начало работы с секцией 4 */
    .advantages .five-part-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #EEF7FF;
        width: 600px;
        height: 172px;
        margin-top: 61px;
        border-radius: 21px;
    }

    .advantages .img-advantages {
        display: none;
    }

    .advantages .five-part-section h3 {
        font: 800 24px 'Mulish';
        color: #001A49;

        margin: 0 0 30px 40px;
    }

    .advantages .five-part-section p {
        font: 400 16px 'Mulish';
        height: 48px;
        width: 600px;
        margin: 0 0 30px 40px;
        color: #4F596A;
    }
    /* Конец работы с секцией 4 */
    


    /* начало работы с Record */

    .record {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        /* width: 619px; */
        /* height: 321px; */
        margin: 122px auto;
    }

    .record p {
        width: 600px;
        font: 800 50px 'Mulish';
        color: #001A49;
    }

    /*
    footer {
        width: 600px;
    }
        
    
    footer section {
        display: flex;
        margin-top: 129px;
    }
    */

    footer {
        display: none;
    }
}









