@font-face {
    font-family: "Mulish";
    src: url("./Fonts/Mulish-Bold.ttf") format("truetype");
} 

@font-face {
    font-family: "Mulish";
    src: url("./Fonts/Mulish-Medium.ttf") format("truetype");
} 

@font-face {
    font-family: "Mulish";
    src: url("./Fonts/Mulish-ExtraBold.ttf") format("truetype");
} 

@font-face {
    font-family: "Mulish";
    src: url("./Fonts/Mulish-Regular.ttf") format("truetype");
} 

@font-face {
    font-family: "Poppins";
    src: url("./Fonts/Poppins-ExtraBold.ttf");
}


* {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-family: "Mulish";
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    width: 1120px;
    margin: 0 auto;
    top: 0;
}

header nav p:hover {
    text-decoration: underline;
    
}


/* Фото логотипа */
header .img-logo {
    background-image: url("../assents/Course\ topics.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 124px;
    height: 38px;
}


header nav {
    display: flex;
    justify-content: space-between;
}

/* Кнопка в Header */
header .btn {
    background: linear-gradient(44.11deg, #8FBBE5 15.75%, #3D75BF 84.63%);
    border-radius: 33px;
    font: 700 16px 'Mulish';
    color: #FFFFFF;
    width: 147px;
    text-align: center;
    padding: 15px 0;
}

header nav p:not(:last-child) {
    margin-right: 35px;
}

body {
    margin: 0 auto;
    width: 1120px;
    background: #F5F5F5;
}

/* начало работы с Main */


/* Кнопка в Main */
main .btn {
    background: linear-gradient(44.11deg, #8FBBE5 15.75%, #3D75BF 84.63%);
    border-radius: 33px;
    font: 700 16px 'Mulish';
    color: #FFFFFF;
    width: 147px;
    text-align: center;
    padding: 15px 0;
    margin: 35px 0 0 0;

}



/* начало работы с introductory */
.introductory {
    display: flex;
    justify-content: space-between;
    margin-top: 250px;
}

.introductory h1 {
    font: 800 60px 'Mulish';
    font-family: 'Mulish';
    font-style: normal;
    width: 537px;
    height: 136px;

    color: #001A49; 
}


.introductory p {
    font: 400 20px 'Mulish';
    color: #4F596A; 

    width: 560px;
    height: 60px;
    margin-top: 25px;
}



/* Картинка-видео в Main */
.introductory .img-video {
    background-image: url("../assents/Group\ 7.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 7000px;
    height: 480px;
    position: relative;
    left: 120px;
}

.introductory .info{
    width: 1283px;
    height: 360px;
}

/* конец работы с introductory */

/* начало работы с statistics */



.statistics h2 {
    font: 800 40px 'Mulish';
    text-align: center;
    color: #001A49; 
}

.statistics p {
    font: 400 16px 'Mulish';
    text-align: center;
    color: #4F596A; 
}

.statistics .wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

    width: 1120px;
    height: 172px;

    background: #FFFFFF;
    border: 1px solid #E7EAEB;
    border-radius: 21px;
}

.statistics .wrapper div {
    margin: auto;
}

.statistics .img-wrapper {
    position: absolute;
    background-image: url("./assents/Side\ Shape.svg");
    width: 288px;
    height: 288px;
    z-index: 0;
    margin: -136px 0 0 -206px;

}


/* конец работы с statistics */


/* начало работы с advantages */

.advantages {
    display: flex;
    flex-direction: column;
    margin-top: 194px;
}

/* начало работы с first-part-section */
.advantages .first-part-section{
    display: flex;
    margin: 20px auto;
    flex-direction: column;
}

.advantages .first-part-section h2 {
    width: 637px;
    height: 69px;
    margin: auto;

    font: 800 46px 'Mulish';
    text-align: center;
    color: #001A49;
}

.advantages .first-part-section p {
    margin: 1px auto;
    width: 560px;
    height: 60px;

    font: 400 20px 'Mulish';
    text-align: center;
    color: #4F596A; 
}
/* конец работы с first-part-section */



/* начало работы с two-part-section */

.advantages .two-part-section {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: #EEF7FF;
    width: 1120px;
    height: 172px;
    margin-top: 31px;
}

.advantages .two-part-section h3 {
    font: 800 24px 'Mulish';

    color: #001A49; 
}

.advantages .two-part-section p {
    font: 400 16px 'Mulish';
    width: 960px;
    height: 48px;
    
    margin-top: 20px;
    color: #4F596A;
}

/* конец работы с two-part-section */



/* начало работы с three-part-section */

.advantages .three-part-section {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: #EEF7FF;
    width: 1120px;
    height: 172px;
    margin-top: 31px;
}

.advantages .three-part-section h3 {
    font: 800 24px 'Mulish';

    color: #001A49; 
}

.advantages .three-part-section p {
    font: 400 16px 'Mulish';
    width: 960px;
    height: 48px;
    
    margin-top: 20px;
    color: #4F596A;
}

/* конец работы с three-part-section */

/* начало работы с four-part-section */

.advantages .four-part-section {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: #EEF7FF;
    width: 1120px;
    height: 172px;
    margin-top: 31px;
}

.advantages .four-part-section h3 {
    font: 800 24px 'Mulish';

    color: #001A49; 
}

.advantages .four-part-section p {
    font: 400 16px 'Mulish';
    width: 960px;
    height: 48px;
    
    margin-top: 20px;
    color: #4F596A;
}

/* конец работы с four-part-section */

/* начало работы с five-part-section */

.advantages .five-part-section {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: #EEF7FF;
    width: 1120px;
    height: 172px;
    margin-top: 31px;
}

.advantages .five-part-section h3 {
    font: 800 24px 'Mulish';

    color: #001A49; 
}

.advantages .five-part-section p {
    font: 400 16px 'Mulish';
    width: 960px;
    height: 48px;
    
    margin-top: 20px;
    color: #4F596A;
}

/* конец работы с five-part-section */

/* начало работы с six-part-section */

.advantages .six-part-section {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: #EEF7FF;
    width: 1120px;
    height: 172px;
    margin-top: 31px;
}

.advantages .six-part-section h3 {
    font: 800 24px 'Mulish';

    color: #001A49; 
}

.advantages .six-part-section p {
    font: 400 16px 'Mulish';
    width: 960px;
    height: 48px;
    
    margin-top: 20px;
    color: #4F596A;
}

/* конец работы с six-part-section */



/* Картинка преимуществ .advantages*/
.advantages .img-advantages {
    position: relative;
    background-image: url("./assents/Group\ 8.svg");
    background-repeat: no-repeat;
    background-size: contain;

    width: 64px;
    height: 64px;
    z-index: 1;
}

/* ЧАСТЬ 2 advantages */







/* Начало колонки CallBack */
.record {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 619px;
    height: 321px;
    margin: 122px auto;
}

.record .record-img {
    font: 800 100px 'Poppins';
    color: #3D75BF;
}

.record p {
    width: 619px;
    height: 150px;
    font: 800 50px 'Mulish';
    color: #001A49;
}



footer {
    margin-top: 129px;
}

footer section .logo {
    width: 78.96px;
    height: 56px;
    font: 800 37px 'Poppins';
    color: #3C82F4;
}

footer section .footer-img {
    background-image: url("../assents/Course\ topics.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 243.34px;
    height: 56px;
}

footer section div{
    display: flex;
    justify-content: space-between;
    
}

.footer-txt {
    font: 500 27px 'Mulish';
    color: #707070;
    width: 490.45px;
    height: 40px;
    
}

footer p {
    width: 233px;
    height: 32px;

    margin-top: 15px;
    font: 500 28px 'Poppins';
    font-family: 'Poppins';
    color: #707070;
}









